<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Aqui se coloca el meta para que la pagina sea responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Aqui se coloca las conexiones con los archivos CSS -->
    <link rel="stylesheet" href="/css/home.css" />

    <!-- Aqui se coloca el nombre de la pestaña -->
    <title>Home Carrusel Alternativo</title>
</head>

<body>
    <!-- Aqui se colocan los scripts para utilizar js en el front end -->
    <script defer src="/js/front.js"></script>

    <div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
        <img class="image" src="/images/brownies.jpg" draggable="false"/>
        <img class="image" src="/images/cake.jpg"  draggable="false"/>
        <img class="image" src="/images/cupcakes.jpg"  draggable="false"/>
        <img class="image" src="/images/donuts.jpg"  draggable="false"/>
        <img class="image" src="/images/creps.jpg"  draggable="false"/>
        <img class="image" src="/images/icecream.jpg"  draggable="false"/>
        <img class="image" src="/images/macarrons.jpg"  draggable="false"/>
        <img class="image" src="/images/strawberrys.jpg"  draggable="false"/>
    </div>
    
</body>
</html>